<!DOCTYPE html>
<html>
    <main>
        <body>
            <div class="homeWelcome">
                <h3>Welcome to Anna's Architectural Firm - Client Management System</h3>
            </div>
            <div class="homeDescription">
                <p>In this application, you can add and maintain clients on the Client Creation page, and schedule meetings on the Client Meetings page.</p>
            </div>
        </body>
    </main>
    <footer>
        <p>&copy; 2023 Anna's Architectural Firm</p>
    </footer>
</html>

