<!DOCTYPE html>
<html>
  <main>
    <body>
      <main>
        <div class="homeWelcome">
          <h1>Welcome to Anna's Architectural Firm - Client Management System</h1>
          <p>Our architectural firm specializes in creating stunning and functional designs that exceed client expectations. With years of experience and a team of talented professionals, we take pride in delivering exceptional results.</p>
          <br>
          <p>In this application, you can add and maintain clients on the Client Creation page, and schedule meetings on the Client Meetings page.</p>
        </div>
      </main>
    </body>
  </main>
  <footer>
    <p>&copy; 2023 Anna's Architectural Firm</p>
  </footer>
</html>

