body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Make the main content fill the full viewport height */
  }
  
  .homeWelcome {
    background-color: lightgrey;
    border-radius: 5px;
    color: black;
    padding: 40px;
    text-align: center;
  }
  
  .homeDescription {
    max-width: 600px;
    text-align: center;
    margin: 20px;
  }
  
  .homeDescription p {
    line-height: 1.6;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
